.menu-nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: #fffffffa;
}

.menu-nav .menu-item {
  border-radius: 25px;
  background-color: #fffffffa;
  border: 1px solid #082882;
}

.menu-nav .active {
  display: flex;
}