main div {
  padding: 2rem 1rem;
}

.main-text {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.user {
  padding: 1rem 0;
}

.game-start {
  display: flex;
  justify-content: center;
}

.game-start .start-button {
  width: 100%;
  max-width: 300px;
  background-color: #082882;
}

.game-start .start-button a {
  color: #FFF;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.avatar .avatar-image {
  width: 96px;
  height: 96px;
  border-radius: 96px;
  border: 1px solid #082882;
  text-align: center;
}